/* Root */

html, body {
    font-size: 17px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: white;
    color: black;
    margin: 0;
}

body {
    margin: 70px 0 50px 0;
}

/* Actions */

a {
    color: rgb(0, 113, 227);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

a.cart {
    font-size: 14px;

    box-sizing: border-box;
    padding-top: 11.5px;

    background-image: url(../images/bag.svg);
    background-repeat: no-repeat;
    background-position: center;
}

a.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 18px 100px;
    border-radius: 12px;

    font: inherit;
    font-weight: 400;
    text-align: center;
    
    color: white;
    background-color: rgb(0, 113, 227);

    cursor: pointer;
}

a.button:hover {
  opacity: 0.9;
}

button {
    display: inline-block;
    box-sizing: border-box;
    padding: 18px 100px;

    border-radius: 12px;
    border: 0;

    font: inherit;
    font-weight: 400;
    text-align: center;
    
    color: white;
    background-color: rgb(0, 113, 227);

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    cursor: pointer;
}

button.compact {
    padding: 16px 30px;
}

button:hover {
    opacity: 0.9;
}

/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;

    padding: 10px 20px;
    box-sizing: border-box;

    /* Blurred background */
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
}

header * {
    color: inherit;
}

header > * {
    display: inline-block;
}

header > a {
    position: fixed;
    top: 8px;
    right: 20px;
    height: 32px;
    width: 32px;

    text-align: center;
    cursor: pointer;
}

header > h1 {
    margin: 0;

    font-size: 24px;
    font-weight: 400;
}

/* Subheader */

.subheader {
    margin: 0 20px 10px 20px;
    box-sizing: border-box;
}

.subheader h2 {
    margin: 0 0 4px 0;
    font-weight: 500;
}

/* Search */

.search-bar {
    height: 60px;
}

.search {
    position: relative;
    width: 250px;
    height: 40px;
    top: 10px;
    margin: 0 auto;

    border-radius: 10px;
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 1px;
}

.search > input {
    width: 250px;
    height: 40px;

    font: inherit;
    text-align: center;

    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0 8px;

    appearance: none;
    background-color: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;

    background-image: url(../images/search.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.search > a {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    
    box-sizing: border-box;
    padding-top: 10px;

    text-align: center;
}

.search > button {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    
    box-sizing: border-box;
    padding: 2px 0 0 0;

    background-color: inherit;
    color: inherit;
    text-align: center;
}

.search > input:valid {
    background-image: none;
    padding-right: 40px;
}

.search > input:valid + button {
    display: inline-block;
}

.search > button:hover {
    opacity: 0.5;
}

/* Content */

.content {
    margin: 20px;
}

.content a.button {
    margin-top: 20px;
}

.content button {
    margin-top: 20px;
}

/* Catalog */

.content.catalog {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 80px;
    justify-content: center;

    margin: 20px 0;
}

.content.catalog > * {
    display: inline-block;
}

@media only screen and (min-width: 200px) {
    .content.catalog > * { width: calc(100vw); }
}

@media only screen and (min-width: 400px) {
    .content.catalog > * { width: calc(50vw); }
}

@media only screen and (min-width: 600px) {
    .content.catalog > * { width: calc(33.333vw); }
}

@media only screen and (min-width: 800px) {
    .content.catalog > * { width: calc(25vw); }
}

@media only screen and (min-width: 1000px) {
    .content.catalog > * { width: calc(20vw); }
}

@media only screen and (min-width: 1200px) {
    .content.catalog > * { width: calc(16vw); }
}

/* Horizontally center item content */
.content.catalog > * > * {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.content.catalog p {
    font-size: max(14vw, 140px);
}

.content.catalog h2 {
    font-weight: 400;
}

.content.catalog h3 {
    font-weight: 300;
    margin-block-end: 1em;
}

/* Cart */

.content.cart > div {
    font-size: 1.7em;
}

.content.cart b {
    font-weight: 500;
}

/* Checkout */

.content.checkout div {
    font-size: 1.5em;
}

select {
    font: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 4px;

    outline: none;

    background-color: rgba(0, 0, 0, 0.07);
}

/* Order */

.content.order table {
    font-size: 1.5em;
}

.content.content.order td {
    vertical-align: top;
}

.content.content.order td:not(:first-child) {
    padding-left: 5px;
}